
$layout-body-background: #fafbfb;

$headings-font-family: 'Roxie Rossa', serif;
$text-font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif;

$font-family: $text-font-family;
$layout-footer-padding: 0;
$layout-header-background: transparent;
$layout-header-height: 64px;
$layout-header-padding: 0;
$menu-bg: $layout-header-background;
$text-color: #272727;

$color-text: #b5e3db;
$color-bg: #33535c;
$color-accent: #f16935;
$fade: 0.2;
